HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
**/out/
**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/module-2/src/main/java/com/kodilla/completable/*
!**/module-2/src/main/java/com/kodilla/completable/homework
**/module-3/src/main/java/com/kodilla/multi/parallel**
**/module-3/src/main/java/com/kodilla/multi/latch**
**/module-3/src/main/java/com/kodilla/multi/barrier**
**/module-3/src/main/java/com/kodilla/multi/exchanger**
**/module-3/src/main/java/com/kodilla/multi/phaser**
**/module-4/src/main/java/com/kodilla/threads/example**